.head{
  border-width: 0px;
  position: absolute;
  left: 200px;
  top: 64px;
  height: 72px;
  width: 100%;
  background: black;
  line-height: 72px;
  color: #e4e4e4;
  .headicon{
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0 10px;
    img{
      vertical-align: middle;
      width: 100%;
      height: 100%;
    }
  }
  .headtext{
    font-family: '微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
    font-weight: 700;
  }
}